/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3641641 */
  src: url('//at.alicdn.com/t/c/font_3641641_e4wl4jkv13.woff2?t=1665214741349') format('woff2'),
       url('//at.alicdn.com/t/c/font_3641641_e4wl4jkv13.woff?t=1665214741349') format('woff'),
       url('//at.alicdn.com/t/c/font_3641641_e4wl4jkv13.ttf?t=1665214741349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31fanhui1:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e669";
}

.icon-xihuan:before {
  content: "\e7d7";
}

.icon-yingyong:before {
  content: "\e603";
}

.icon-moban:before {
  content: "\e61f";
}

.icon-renzheng:before {
  content: "\e634";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e78a";
}

.icon-show_yinsizhengce_fill:before {
  content: "\e604";
}

.icon-guanyu:before {
  content: "\e622";
}

.icon-shujuku:before {
  content: "\e687";
}

.icon-shouye1:before {
  content: "\e602";
}

.icon-6:before {
  content: "\e601";
}

.icon-shizhong:before {
  content: "\e78b";
}

.icon-gonggao:before {
  content: "\e64e";
}

.icon-suoding:before {
  content: "\e600";
}

.icon-vip:before {
  content: "\e6c3";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-zhifeiji:before {
  content: "\e6a0";
}

.icon-shimingrenzheng:before {
  content: "\e65c";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-qianbao:before {
  content: "\e62b";
}

.icon-youjiantou:before {
  content: "\e667";
}

.icon-anquan:before {
  content: "\e8ab";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-shezhi:before {
  content: "\e89d";
}

.icon-gouwudai:before {
  content: "\e655";
}

.icon-gerenzhongxin:before {
  content: "\e60b";
}

.icon-gonggao1:before {
  content: "\f071";
}

.icon-shouye:before {
  content: "\e818";
}

